body{
    margin: 0;
    padding: 0;
}
.div-box{
    width: 500px;
}
.auto{
    margin: auto;
}

.clearfix{
    *zoom: 1;
}

.clearfix::after{
    content: "";
    clear: both;
}

.flex{
    display: flex;
}